openapi: 3.0.3
info:
  title: Boteco Sync API
  version: 0.1.0-draft
  description: Synchronization endpoints for BotecoPRO mobile ↔ Boteco.pt backend.
servers:
  - url: https://api.boteco.pt
paths:
  /sync/meta:
    get:
      summary: Get sync metadata (enums and capabilities)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Meta arrays and capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  tableStatus:
                    type: array
                    items:
                      type: string
                    example: [available, occupied, reserved, maintenance]
                  productCategory:
                    type: array
                    items:
                      type: string
                    example: [drink, food, other]
                  orderStatus:
                    type: array
                    items:
                      type: string
                    example: [pending, preparing, ready, delivered, canceled]
                  maxBatch:
                    type: integer
                    example: 500
                  supportsDelta:
                    type: boolean
                    example: true
                  serverTime:
                    type: string
                    format: date-time
        '401': { $ref: '#/components/responses/Unauthorized' }
  /sync/download:
    get:
      summary: Download changed rows since timestamp
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: company_id
          schema: { type: string, format: uuid }
          required: true
        - in: query
          name: since
          schema: { type: string, format: date-time }
          required: false
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 1000, default: 500 }
          required: false
      responses:
        '200':
          description: Delta payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /sync/upload:
    post:
      summary: Upload local changes for reconciliation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
      responses:
        '200':
          description: Per-entity result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Missing or invalid auth token
    Forbidden:
      description: User not allowed for company
    BadRequest:
      description: Malformed request body
    Conflict:
      description: Excessive conflicts (e.g., >30% stale updates)
    PayloadTooLarge:
      description: Payload exceeds configured limit
    TooManyRequests:
      description: Rate limit exceeded
  schemas:
    EntityId:
      type: string
      format: uuid
    Table:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        company_id: { $ref: '#/components/schemas/EntityId' }
        name: { type: string }
        number: { type: integer }
        status: { type: string, enum: [available, occupied, reserved, maintenance] }
        capacity: { type: integer, minimum: 0 }
        updated_at: { type: string, format: date-time }
    Product:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        company_id: { $ref: '#/components/schemas/EntityId' }
        name: { type: string }
        category: { type: string, enum: [drink, food, other] }
        price: { type: number }
        stock: { type: integer, minimum: 0 }
        min_stock: { type: integer, minimum: 0 }
        updated_at: { type: string, format: date-time }
    Order:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        company_id: { $ref: '#/components/schemas/EntityId' }
        table_id: { $ref: '#/components/schemas/EntityId' }
        status: { type: string, enum: [pending, preparing, ready, delivered, canceled] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    OrderItem:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        order_id: { $ref: '#/components/schemas/EntityId' }
        product_id: { $ref: '#/components/schemas/EntityId' }
        quantity: { type: number, minimum: 0 }
        price: { type: number }
        updated_at: { type: string, format: date-time }
    Sale:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        company_id: { $ref: '#/components/schemas/EntityId' }
        order_id: { $ref: '#/components/schemas/EntityId' }
        total: { type: number, minimum: 0 }
        payment_method: { type: string }
        updated_at: { type: string, format: date-time }
    StockMovement:
      type: object
      properties:
        id: { $ref: '#/components/schemas/EntityId' }
        company_id: { $ref: '#/components/schemas/EntityId' }
        product_id: { $ref: '#/components/schemas/EntityId' }
        movement_type: { type: string }
        quantity: { type: number }
        created_at: { type: string, format: date-time }
    DownloadResponse:
      type: object
      properties:
        since: { type: string, format: date-time }
        nextSince: { type: string, format: date-time }
        tables:
          type: array
          items: { $ref: '#/components/schemas/Table' }
        products:
          type: array
          items: { $ref: '#/components/schemas/Product' }
        orders:
          type: array
          items: { $ref: '#/components/schemas/Order' }
        order_items:
          type: array
          items: { $ref: '#/components/schemas/OrderItem' }
        sales:
          type: array
          items: { $ref: '#/components/schemas/Sale' }
        stock_movements:
          type: array
          items: { $ref: '#/components/schemas/StockMovement' }
        checksum: { type: string }
    UploadRequest:
      type: object
      properties:
        company_id: { $ref: '#/components/schemas/EntityId' }
        clientTime: { type: string, format: date-time }
        tables:
          type: array
          items: { $ref: '#/components/schemas/Table' }
        products:
          type: array
          items: { $ref: '#/components/schemas/Product' }
        orders:
          type: array
          items: { $ref: '#/components/schemas/Order' }
        order_items:
          type: array
          items: { $ref: '#/components/schemas/OrderItem' }
        sales:
          type: array
          items: { $ref: '#/components/schemas/Sale' }
        stock_movements:
          type: array
          items: { $ref: '#/components/schemas/StockMovement' }
    UploadResponse:
      type: object
      properties:
        accepted:
          type: object
          additionalProperties:
            type: array
            items: { $ref: '#/components/schemas/EntityId' }
        rejected:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              properties:
                id: { $ref: '#/components/schemas/EntityId' }
                reason: { type: string }
                server_updated_at: { type: string, format: date-time }
        errors:
          type: array
          items:
            type: object
            properties:
              entity: { type: string }
              id: { $ref: '#/components/schemas/EntityId' }
              message: { type: string }
        serverSince: { type: string, format: date-time }